<ul class="nav nav-list">
  {{#each list}}
    <li title="{{name}}">
        <div class="rating {{#if favorited}}favorited{{else}}not-favorited{{/if}}" title="{{tooltip}}"><span/></div>
        {{name}}
        {{#if favoriteList}}
          <span class="badge">{{badge}}</span>
        {{/if}}
        {{#if canDelete}}
          <button class="btn btn-mini btn-danger">{{i18n 'search.savedsearches.button.delete'}}</button>
        {{/if}}
    </li>
  {{else}}
  <li class="empty">{{i18n 'search.savedsearches.none'}}</li>
  {{/each}}
</ul>